@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: DINAlternateBold;
    src: url("./DINAlternateBold.ttf")
}

html {
    -webkit-tap-highlight-color: transparent;
    scroll-padding-top: 3rem;
    scroll-behavior: smooth;
}

html, body {
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    @apply relative bg-background text-xl;
    font-family: 'DINAlternateBold', serif;
    display: flex;
    flex-direction: column;
}

.header-top, .header-bottom {
    color: white;
    line-height: 1.2em;
}

.header-top {
    @apply h-32 bg-primary;
}

.header-top div {
    @apply mt-3;
}

.header-bottom {
    @apply
    h-16 z-10
    flex items-end
    bg-secondary text-black shadow-md
}

.header-top, .header-bottom span {
    @apply p-3;
}

.header-logo {
    @apply h-24 absolute top-14 -right-9 pointer-events-none z-20;
}

#lang-btn {
    @apply h-12 p-3 cursor-pointer
}

#lang-menu {
    background: rgba(0, 0, 0, 0.8);
    @apply fixed top-0 bottom-0 right-0 left-0
    z-50
}

#lang-menu ul {
    @apply modal
}

#lang-menu li {
    @apply p-3 px-10
}

#lang-menu li:hover {
    @apply bg-primary text-white cursor-pointer
}

.main {
    @apply
    flex-1
    w-full max-w-screen-xl mx-auto
    flex flex-col
    md:grid md:gap-10 md:space-y-0 grid-cols-3
    md:shadow-lg shadow-primary
    bg-secondary
    space-y-12 pb-12
}

.footer {
    @apply font-sans
    mt-8
}

.footer .menu {
    @apply flex
    w-full max-w-screen-xl mx-auto
}

.footer .menu div {
    @apply bg-secondary
    w-full md:w-1/3
    flex flex-col
    p-8
    space-y-3
}

.footer .logo {
    @apply flex justify-end items-center
}

.footer .bar {
    @apply bg-mitfahrverband h-10
}

@layer components {
    .box {
        @apply bg-white
        p-3
        rounded-lg
    }

    .box-primary {
        @apply bg-primary text-white
        px-3 py-5
    }

    .btn-primary {
        @apply bg-primary text-white rounded-lg
        px-5 py-2
        inline-block
    }

    .btn-white {
        @apply btn-primary bg-white text-primary border-primary border-2
    }

    .heading {
        @apply box-primary
    }

    .heading h1 {
        @apply text-4xl
        mb-3
    }

    .modal-bg {
        background: rgba(0, 0, 0, 0.8);
        @apply fixed top-0 bottom-0 right-0 left-0
        z-50
    }

    .modal {
        @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
        bg-white text-black rounded-lg
        w-fit p-3
    }
}

/* Index */
.intro > div {
    @apply flex flex-col justify-evenly
    h-96
    px-3
}

.intro > div div {
    max-width: 80%;
    @apply space-y-4
}

.intro h2 {
    @apply text-white
}

.intro div div:first-child ~ * a {
    @apply text-white underline
}

.intro > p {
    @apply text-black
    px-4
    my-6
}

#steps {
    @apply space-y-10
}

.step {
    @apply box-primary
}

.step .title {
    @apply flex
    items-baseline
    mx-1 mb-2
}

.step .title h2 span {
    @apply text-4xl
}

.step .title img {
    @apply h-9
    ml-auto
    self-end
}

.step .actions {
    @apply box
    py-5
    flex gap-3
    items-center
    relative
}

.step input {
    @apply text-black text-center
    border-b-2 border-b-primary
    outline-none
    min-w-0
}

.step input[type="datetime-local"] {
    padding-top: 10px;
    @apply block
    bg-white;
}

.step .actions input[type="radio"] {
    @apply w-full h-20
    bg-primary
    rounded-xl
    shadow-md
    appearance-none cursor-pointer
    bg-contain bg-center bg-no-repeat bg-origin-content
    p-3
}

.step .actions button {
    @apply h-20 w-20
    text-white bg-primary
    rounded-xl
    shadow-md
    leading-none
    flex-shrink-0
}

.step .actions button img {
    @apply h-6 w-6 mx-auto
}

.step .actions input:hover, .step .actions button:hover {
    @apply shadow-blue-400
}

#step1 .actions {
    @apply items-baseline
}

#step1 .actions div {
    @apply w-1/2
    text-center text-primary
}

#step1 .actions input:checked {
    @apply border-4 border-dotted border-white
}

#step2 .actions > *:first-child {
    @apply h-10
    flex-grow
}

#step3 .actions > *:first-child {
    @apply flex-grow
}

#step4 .actions > *:first-child {
    @apply flex-grow
}

#step5 #create-form {
    @apply space-y-3 mb-3
}

#step5 #create-form input {
    @apply bg-white rounded-lg text-left
    w-20
    pl-3 py-1
}

#step5 #create-form p {
    @apply text-base
}

#step5 #create-form > input {
    @apply block w-full
}

#step5 .actions > *:first-child {
    @apply flex-grow
}

#step5 button img {
    @apply h-10 w-10
}

/* Components */
input[data-autocomplete] + div {
    top: 90%;
    @apply absolute left-0 right-0
    text-black bg-white
    z-40
    rounded-b-lg overflow-hidden
    border-4 border-white
}

input[data-autocomplete] + div p {
    @apply px-3 py-2
    cursor-pointer
}

input[data-autocomplete] + div p:hover {
    @apply text-white bg-primary
}
