@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: DINAlternateBold;
    src: url("./DINAlternateBold.ttf")
}

html {
    -webkit-tap-highlight-color: transparent;
    scroll-padding-top: 3rem;
    scroll-behavior: smooth;
}

html, body {
    min-height: 100vh;
}

body {
    @apply bg-background text-xl;
    font-family: 'DINAlternateBold', serif;
    display: flex;
    flex-direction: column;
}

div.a {
    background-color: #2d71b7;
    color: white;
    @apply pl-1;
}

.header-top, .header-bottom {
    color: white;
    line-height: 1.2em;
}

.header-top {
    @apply h-32 bg-primary;
}

.header-top div {
    @apply mt-3;
}

.header-bottom {
    @apply
    h-16 z-10
    flex items-end
    bg-secondary shadow-md
    sticky -top-4
}

.header-top, .header-bottom span {
    @apply p-3;
}

.logo {
    @apply h-24 absolute top-14 right-0 pointer-events-none z-20;
}

.menuButton {
    @apply w-12
    flex items-center justify-center
    cursor-pointer;
}

.menu {
    min-width: 200px;
    background: white;
    color: black;
    @apply shadow-md;
}

.menu p {
    @apply p-3 hover:bg-primary hover:text-white
}

.main {
    @apply
    flex-1
    w-full max-w-screen-xl mx-auto
    flex flex-col space-y-3
    md:grid gap-3 md:space-y-0
    bg-secondary
    space-y-16
}

@layer components {
    .box {
        @apply bg-white
        p-3
        rounded-lg
    }

    .btn-primary {
        @apply box
        text-primary
        px-5 py-2
        inline-block
    }
}

/* Index */
.intro {
    @apply px-3 py-16
    bg-gray-600
    space-y-5
}

.intro > div {
    max-width: 80%;
    @apply space-y-4
}

.intro h2 {
    @apply text-white
}

.intro a {
    @apply btn-primary
}

.intro > p {
    @apply text-secondary
}


/* Platform */
#platform {
    @apply bg-primary
    px-3 py-5
}

#platform h2 {
    @apply btn-primary
    mb-3
}

#platform p {
    @apply text-white
}

#platform .brands {
    @apply box
    my-3
}

#platform .brands p {
    @apply text-black text-base
}

.step {
    @apply bg-primary
    px-3 pt-8 pb-5
}

.step h2 {
    @apply text-white
    mb-2
    ml-1
}

.step .actions {
    @apply box
    py-5
    flex gap-3
    items-center
}

.step input {
    @apply text-center
    border-b-2 border-b-primary
    outline-none
}

.step .actions input[type="radio"] {
    @apply w-full h-20
    bg-white
    rounded-xl
    shadow-md
    appearance-none cursor-pointer
}

.step .actions button {
    @apply h-20 w-20
    text-white bg-primary
    rounded-xl
    shadow-md
}

.step .actions input:hover, .step .actions button:hover {
    @apply shadow-blue-400
}

#step1 .actions div {
    @apply w-1/2
    text-center text-primary
}

#step1 .actions input:checked {
    @apply bg-primary text-white
}

#step2 .actions *:first-child {
    @apply h-10
    flex-grow
}

#step3 .actions *:first-child {
    @apply flex-grow
}

#step5 .actions *:first-child {
    @apply flex-grow
}
