@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DINAlternateBold;
  src: url("./DINAlternateBold.ttf")
}

html, body {
  min-height: 100vh;
}

body {
  background-color: #f0f0f0;
  font-family: 'DINAlternateBold', serif;
}

div.a {
  background-color: #2d71b7;
  color: white;
}

.header {
  line-height: 1em;
  color: white;
  @apply h-36;
}

.header-top {
  background-color: #2d71b7;
  height: 66%;
}

.header-bottom {
  background-color: #f7db15;
  height: 33%;
}

.header > div {
  @apply p-2;
}

.header p {
  @apply pb-1;
}

.main {
  @apply 
  w-full max-w-screen-xl mx-auto md:px-3
  md:grid gap-3
  space-y-3 md:space-y-0
  py-3
  mb-auto
}

.end {
  background-color: #008a56;
  height: 1rem;
}
